Import libraries

In [8]:
import os
import sys
import urllib2
import requests 
import StringIO
import zipfile
import numpy as np
import pandas as pd # pandas
import matplotlib.pyplot as plt # module for plotting 

from zipfile import ZipFile
from collections import defaultdict

In [10]:
# load the Lahman database
url = urllib2.urlopen('http://seanlahman.com/files/database/baseballdatabank-2017.1.zip')
zipfile = ZipFile(StringIO.StringIO(url.read()))

Read in csv files

In [38]:
# FanGraphs data
hitting = pd.read_csv('Hitting_16.csv')
fielding = pd.read_csv('Fielding_16.csv')

# Lahman data (player salaries)
salaries = pd.read_csv(zipfile.extract('baseballdatabank-2017.1/core/Salaries.csv'))
master = pd.read_csv(zipfile.extract('baseballdatabank-2017.1/core/Master.csv'))
salaries.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

Filter the fielding dataset to get each player's primary position and add it as a column to the 'hitting' DataFrame

In [15]:
# remove pitchers
fielding = fielding[fielding.Pos != 'P']

# function that can be applied that will get positions
# based on number of games played there
def find_pos(df):
    positions = df.Pos
    d = defaultdict(int)
    for pos in positions:
        d[pos] += 1
    result = max(d.iteritems(), key=lambda x: x[1])
    return result[0]

positions = fielding.groupby('playerid').apply(find_pos)
positions = positions.reset_index()
positions = positions.rename(columns={0:'Pos'})
positions = positions.merge(hitting, on='playerid', how='inner')

From the Lahman database, construct a DataFrame with player salaries and full names. Then, use the full names to add player salaries to the FanGraphs data.

In [39]:
# get player salaries for the year in question
salaries = salaries[salaries.yearID == 2016]

# add full names to salaries
salaries = salaries[['playerID', 'salary']]
master = master[['playerID', 'nameLast', 'nameGiven']]
salaries = master.merge(salaries)
salaries.head()

    playerID nameLast          nameGiven    salary
0   abadfe01     Abad   Fernando Antonio   1250000
1  abreujo02    Abreu        Jose Dariel  11666667
2  ackledu01   Ackley     Dustin Michael   3200000
3  adamecr01   Adames  Cristhian Pascual    509500
4  adamsma01    Adams      Matthew James   1650000

In [40]:
salaries

      playerID    nameLast            nameGiven    salary
0     abadfe01        Abad     Fernando Antonio   1250000
1    abreujo02       Abreu          Jose Dariel  11666667
2    ackledu01      Ackley       Dustin Michael   3200000
3    adamecr01      Adames    Cristhian Pascual    509500
4    adamsma01       Adams        Matthew James   1650000
5    adriaeh01    Adrianza        Ehire Enrique    512500
6    ahmedni01       Ahmed        Nicholas Mark    521600
7    alberha01     Alberto          Hanser Joel    511500
8    alberma01      Albers        Matthew James   2000000
9    allenco01       Allen          Cody Edward   4150000
10   alonsyo01      Alonso               Yonder   2650000
11   altheaa01     Altherr         Aaron Samuel    515500
12   altuvjo01      Altuve          Jose Carlos   3687500
13   alvarhe01     Alvarez     Henderson Javier   4250000
14   alvarjo02     Alvarez         Jose Ricardo    507500
15   alvarpe01     Alvarez         Pedro Manuel   5731704
16   alvarrj01     Alvarez           Roy Emilio    510000
17   anderbr04    Anderson       Brett Franklin  15800000
18   anderch01    Anderson         Robert Chase    520200
19   anderco01    Anderson          Cody Andrew    511400
20   anderty01    Anderson           Tyler John    509500
21   andruel01      Andrus        Elvis Augusto  15333333
22    aokino01        Aoki            Norichika   5500000
23   archech01      Archer     Christopher Alan   2916667
24   arciaos01       Arcia    Oswaldo Celestino    535000
25   arenano01     Arenado          Nolan James   5000000
26   arrieja01     Arrieta         Jacob Joseph  10700000
27   ascheco01       Asche           Cody James    530000
28   avilaal01       Avila     Alexander Thomas   2500000
29   avilemi01      Aviles      Michael Anthony   2000000
..         ...         ...                  ...       ...
815  wheelza01     Wheeler     Zachary Harrison    546250
816  whitety01       White          Brian Tyler    507500
817  whitlch01     Whitley        Chase Coleman    524525
818  wietema01     Wieters      Matthew Richard  15800000
819  wilheto01  Wilhelmsen          Thomas Mark   3100000
820  wilsoal01      Wilson    William Alexander    522500
821  wilsocj01      Wilson     Christopher John  20500000
822  wilsoju10      Wilson         Justin James   1525000
823  wilsoty01      Wilson         Philip Tyler    511500
824  winklda01     Winkler         Daniel Allen    508500
825  wislema01      Wisler       Matthew Robert    507500
826  wolteto01     Wolters         Anthony John    507500
827   wongko01        Wong          Kolten Kaha   1250000
828   woodal02        Wood     Robert Alexander    530000
829   woodbl01        Wood         Blake Daniel    600000
830   woodtr01        Wood            Travis A.   6170000
831  workmbr01     Workman       Brandon Carlin    539500
832  worleva01      Worley        Vance Richard   2600000
833  wrighda03      Wright          David Allen  19364801
834  wrighmi01      Wright       Dennis Michael    510500
835  wrighst01      Wright       Steven Richard    514500
836  yateski01       Yates           Kirby Kali    511900
837  yelicch01      Yelich    Christian Stephen   1000000
838  youngch03       Young     Christopher Ryan   4250000
839  youngch04       Young  Christopher Brandon   6500000
840  zieglbr01     Ziegler         Brad Gregory   5500000
841  zimmejo02  Zimmermann            Jordan M.  18000000
842  zimmery01   Zimmerman         Ryan Wallace  14000000
843  zobribe01     Zobrist      Benjamin Thomas  10500000
844   zychto01        Zych        Anthony Aaron    511000

[845 rows x 4 columns]